extends ../layout/layout.jade

	
block title 
	title Users

block header
	#header
	include ../layout/header.jade

block horMenu
	include ../layout/horMenu.jade

block content
	#container
		#userContainer
			ul(class="nav nav-tabs")
				li(class="active" id='userListTab')
					a(data-toggle="tab" href="#userList") Users
				li(id='userFormTab')
					a(data-toggle="tab"  href="#userForm") Create User
				li(id='deptTab')
					a(data-toggle="tab"  href="#deptForm") Create Department
				li(id='WorkGroupFormTab')
					a(data-toggle="tab"  href="#WorkGroupForm") Create WorkGroup

			div(class="tab-content")
				div(id="userList" class="tab-pane fade in active")

				div(id="userForm" class="tab-pane")
					br
					form(class="form-horizontal" autocomplete="off" id='form' action="/users/addUser" method="POST")
						div(class="form-group")
							label(class="control-label col-sm-2" for="name") First Name
							div(class="col-sm-4")
								input(type="hidden" class="form-control" id="id" name="id" value='0')
								input(type="text" class="form-control" id="name" name="name" placeholder="Enter First Name" )
						div(class="form-group")
							label(class="control-label col-sm-2" for="lastname") Last Name
							div(class="col-sm-4")
								input(type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name" )
						div(class="form-group")
							label(class="control-label col-sm-2" for="email") Email
							div(class="col-sm-4")
								input(type="email" class="form-control" id="email" name="email" placeholder="Enter Email")
						div(class="form-group")
							label(class="control-label col-sm-2" for="username") Username
							div(class="col-sm-4")
								input(type="text" class="form-control" id="username" name="usern" placeholder="Enter Username")
						div(class="form-group")
							label(class="control-label col-sm-2" for="password") Password
							div(class="col-sm-4")
								input(type="password" class="form-control" id="password" name="password" placeholder="Enter Password" )
						div(class="form-group" id='deptInput')
							label(class="control-label col-sm-2" for="department") Department
							span
								input(type='button' class="btn btn-success" value='Add New' id='addDeptBtn' ) 
							div(class="col-sm-4")
								select(class="form-control" id="department" name="department")
								
									
						div(class="form-group")
							label(class="control-label col-sm-2" for="title") Title
							div(class="col-sm-4")
								select(name="title" class="form-control" id="title" )
									option(value="") Select One
									option(value="Admin") Administrator
									option(value="RPh") RPh
									option(value="RPh Float") RPh Float
									option(value="Manager") Manager
									option(value="Techn 2") Technician 2
									option(value="Techn 3") Technician 3
									option(value="Techn TPN") Technician TPN
									option(value="Techn Float") Technician Float
									option(value="Personel") Personel
									option(value="Associate") Associate
									option(value="WorkGroup") WorkGroup
						div(class="form-group")
							label(class="control-label col-sm-2" for="active") Active
							div(class="col-sm-1")
								input(type="checkbox" id= 'active' class="form-control" name="active" value='true' checked)
							label(class="control-label col-sm-2" for="passreset") Reset Password
							div(class="col-sm-1")
								input(type="checkbox" id= 'passreset' class="form-control" name="passreset" value=true disabled=true)


						div(class="form-group")
							div(class="col-sm-offset-2 col-sm-3")
								button(type="submit" id='submit' class="btn btn-primary") Submit

						
					div.errors
				div(id="deptForm" class="tab-pane")
					br
					form(class="form-horizontal" autocomplete="off" id='formDept' action="/users/addDept" method="POST")
						div(class="form-group")
							label(class="control-label col-sm-2" for="deptName") Department Name
							div(class="col-sm-4")
								
								input(type="text" class="form-control" id="deptName" name="deptName" placeholder="Enter Department Name" )
						
						div(class="form-group")
							label(class="control-label col-sm-2" for="status") Status
							div(class="col-sm-4")
								select(name="status" class="form-control" id="status")
									
									option(value="Active") Active
									option(value="Deactivate") Deactivate
						div(class="form-group")
							div(class="col-sm-offset-2 col-sm-3")
								button(type="submit" id='submitDept' class="btn btn-primary") Submit
					div.errors
				div(id="WorkGroupForm" class="tab-pane")
					br
					alert('submitWorkGroup')
					form(class="form-horizontal" autocomplete="off" id='formWorkGroup' method="POST")
						div(class="form-group")
							label(class="control-label col-sm-2" for="name") WorkGroup Name
							div(class="col-sm-4")
								input(type="hidden" class="form-control" id="WorkGroupId" name="id" value='0')
								input(type="text" class="form-control" id="WorkGroupName" name="name" placeholder="Enter WorkGroup Name" )
						div(class="form-group")
							label(class="control-label col-sm-2" for="email") Email
							div(class="col-sm-4")
								input(type="email" class="form-control" id="WorkGroupEmail" name="email" placeholder="Enter Email")
						div(class="form-group")
							label(class="control-label col-sm-2" for="username") Username
							div(class="col-sm-4")
								input(type="text" class="form-control" id="WorkGroupUsername" name="usern" placeholder="Enter Username")
						div(class="form-group")
							label(class="control-label col-sm-2" for="password") Password
							div(class="col-sm-4")
								input(type="password" class="form-control" id="WorkGroupPassword" name="password" placeholder="Enter Password" )
						div(class="form-group")
							label(class="control-label col-sm-2" for="department") Department
							span
								input(type='button' class="btn btn-success" value='Add New' id='addDeptBtn' ) 
							div(class="col-sm-4")
								select(class="form-control" id="WorkGroupDepartment" name="department")
						div(class="form-group")
							label(class="control-label col-sm-2" for="active") Active
							div(class="col-sm-1")
								input(type="checkbox" id= 'WorkGroupActive' class="form-control" name="active" value='true' checked)
							label(class="control-label col-sm-2" for="passreset") Reset Password
							div(class="col-sm-1")
								input(type="checkbox" id= 'WorkGroupPassreset' class="form-control" name="passreset" value=true disabled=true)


						div(class="form-group")
							div(class="col-sm-offset-2 col-sm-3")
								button(type="submit" id='submitWorkGroup' class="btn btn-primary") Submit
						
					div.errors
						
append scripts 
	script(src="public/fnLib/homeFn.js")
	script.

		$(function(){
			
			 $('#title').multiselect();
			var JSONdata = !{JSONdata};
			var curUser = JSONdata.curUser
			var firstUser = JSONdata.firstUser
			console.log('curUser')
			console.log(curUser)
			if (curUser == undefined ){
				if (JSONdata.tabx=='userForm'){

					//- $('#userListTab').attr('class', '')
					$('#deptTab').attr('class', 'active')
					$('#').attr('class', 'tab-pane')
					$('#deptForm').attr('class', 'tab-pane fade in active')

					$.getJSON('/users/getDept').done(function(Rdata){
						console.log(Rdata)
						if(Rdata.departments !== 'undefined'){
							Rdata.departments.forEach(function(department, i){
									var option = document.createElement('option')
									option.value = department.id
									option.innerHTML = department.name
									$('#department').append(option)
							})
						}else{
							$.post('/users/addDept',{
								deptName:'ADMIN',
								status:'Active',
							}).done(function(Rdata){
								location.reload()
							})
						}
					})
					$("#form").on('submit', function(e){
						var active = false
						var passreset = false
						$('#active').is(':checked')?active = true:''
						$('#passreset').is(':checked')?passreset = true:''
						$.post('/users/addUser',{
							//- departmentId:curUser.department.id,
							name:$('#name').val(),
							lastname:$('#lastname').val(),
							id:$('#id').val(),
							email:$('#email').val(),
							username:$('#username').val(),
							password:$('#password').val(),
							title:$('#title').val(),
							departmentId:$('#department').val(),
							active:active,
							passreset:passreset
						}).done(function(Rdata){
							if (!!Rdata.redi){
								window.location.replace(Rdata.redi)
							}else if (!!Rdata.errors){
							//- alert(JSON.stringify(Rdata.errors, null, 4))
								$('.errors').html('')
								if (typeof Rdata.errors == 'string'){
									$('#errors').append('<br>'+'* '+ Rdata.errors)
									$('#errors').addClass('error')
									$('#errors').addClass('col-sm-offset-2 col-sm-10')
								} else{

									Rdata.errors.forEach(function(item){
										$('.errors').append('<br>'+'* '+ item.msg)
										$('.errors').addClass('error')
										$('.errors').addClass('col-sm-offset-2 col-sm-10')
									})
								}
							}
						})
						e.preventDefault();
						return false;
					});
				}
			}else{

				$('#addDeptBtn').on('click', function(){
					$('#userFormTab').attr('class', '')
					$('#deptTab').attr('class', 'active')
					$('#userForm').attr('class', 'tab-pane')
					$('#deptForm').attr('class', 'tab-pane fade in active')
				})

				$("#formDept").on('submit', function(e){
					$.post('/users/addDept',{
						
						deptName:$('#deptName').val(),
						status:$('#status').val(),
					}).done(function(Rdata){
						if (!!Rdata.redi){
							window.location.replace(Rdata.redi)
						}else if (!!Rdata.errors){
						//- alert(JSON.stringify(Rdata.errors, null, 4))
							$('.errors').html('')
							if (typeof Rdata.errors == 'string'){
								$('.errors').append('<br>'+'* '+ Rdata.errors)
								$('.errors').addClass('error')
								$('.errors').addClass('col-sm-offset-2 col-sm-10')
							} else{

								Rdata.errors.forEach(function(item){
									$('.errors').append('<br>'+'* '+ item.msg)
									$('.errors').addClass('error')
									$('.errors').addClass('col-sm-offset-2 col-sm-10')
								})
							}
						}
					})
					e.preventDefault();
					//- return false;
				})

				$("#form").on('submit', function(e){
					var active = false
					var passreset = false
					$('#active').is(':checked')?active = true:''
					$('#passreset').is(':checked')?passreset = true:''
					
					$.post('/users/addUser',{
						//- departmentId:curUser.department.id,
						name:$('#name').val(),
						lastname:$('#lastname').val(),
						id:$('#id').val(),
						email:$('#email').val(),
						username:$('#username').val(),
						password:$('#password').val(),
						title:$('#title').val(),
						departmentId:$('#department').val(),
						active:active,
						passreset:passreset

					}).done(function(Rdata){
						if (!!Rdata.redi){
							window.location.replace(Rdata.redi)
						}else if (!!Rdata.errors){
						//- alert(JSON.stringify(Rdata.errors, null, 4))
							$('.errors').html('')
							if (typeof Rdata.errors == 'string'){
								$('#errors').append('<br>'+'* '+ Rdata.errors)
								$('#errors').addClass('error')
								$('#errors').addClass('col-sm-offset-2 col-sm-10')
							} else{

								Rdata.errors.forEach(function(item){
									$('.errors').append('<br>'+'* '+ item.msg)
									$('.errors').addClass('error')
									$('.errors').addClass('col-sm-offset-2 col-sm-10')
								})
							}
						}
					})
					//prevent form submit and return JSON
					e.preventDefault();
					return false;
				});


				$("#formWorkGroup").on('submit', function(e){
					var active = false
					var passreset = false
					$('#WorkGroupActive').is(':checked')?active = true:''
					$('#WorkGroupPassreset').is(':checked')?passreset = true:''
					
					$.post('/users/addUser',{
						//- departmentId:curUser.department.id,
						name:$('#WorkGroupName').val(),
						lastname:'WorkGroup',
						id:$('#WorkGroupId').val(),
						email:$('#WorkGroupEmail').val(),
						username:$('#WorkGroupUsername').val(),
						password:$('#WorkGroupPassword').val(),
						title:'WorkGroup',
						departmentId:$('#WorkGroupDepartment').val(),
						active:active,
						passreset:passreset

					}).done(function(Rdata){
						if (!!Rdata.redi){
							window.location.replace(Rdata.redi)
						}else if (!!Rdata.errors){
						//- alert(JSON.stringify(Rdata.errors, null, 4))
							$('.errors').html('')
							if (typeof Rdata.errors == 'string'){
								$('#errors').append('<br>'+'* '+ Rdata.errors)
								$('#errors').addClass('error')
								$('#errors').addClass('col-sm-offset-2 col-sm-10')
							} else{

								Rdata.errors.forEach(function(item){
									$('.errors').append('<br>'+'* '+ item.msg)
									$('.errors').addClass('error')
									$('.errors').addClass('col-sm-offset-2 col-sm-10')
								})
							}
						}
					})
					e.preventDefault();
					return false;
				});
				
				if(curUser.department.name !== 'ADMIN'){

					$('#department').attr('disabled', true)
					$('#WorkGroupDepartment').attr('disabled', true)
					
				}else{
					$('#department').attr('disabled', false)
					$('#department').val('')
					$('#WorkGroupDepartment').attr('disabled', false)
					$('#WorkGroupDepartment').val('')
					
				}

				var arrayTitle_UserTab = ['Admin', 'Manager']
				if (arrayTitle_UserTab.indexOf(curUser.title) == -1) {
					$('#userFormTab').html('')
					if (firstUser){
						$('#title').attr('disabled', false)
					}else{
						$('#title').attr('disabled', true)
					}

				
					
					$('#passreset').attr('disabled', true)
				}

				$('#userFormTab').click(function(){
					$('#name').val('')
					$('#id').val('0')
					$('#email').val('')
					$('#username').val('')
					$('#title').val('')
					$('#lastname').val('')
					$('#password').attr('type','password')
					$('#password').val('')
					$('#passreset').attr('disabled', false)
					$('.error').html('')
					$('#department').html('')
					var option = document.createElement('option')
						option.value = curUser.department.id
						option.innerHTML = curUser.department.name
						$('#department').append(option)
					$.getJSON('/users/getDept').done(function(Rdata){

						Rdata.departments.forEach(function(department, i){
							if(department.name !== curUser.department.name){
								var option = document.createElement('option')
								option.value = department.id
								option.innerHTML = department.name
								$('#department').append(option)
							}

						})
					})
					document.getElementById('active').checked = 1
				})	

				$('#WorkGroupFormTab').click(function(){
					$('#WorkGroupName').val('')
					$('#WorkGroupId').val('0')
					$('#WorkGroupEmail').val('')
					$('#WorkGroupUsername').val('')
					$('#WorkGroupPassword').attr('type','password')
					$('#WorkGroupPassword').val('')
					$('#WorkGroupPassreset').attr('disabled', false)
					$('.error').html('')
					$('#WorkGroupDepartment').html('')
					var option = document.createElement('option')
						option.value = curUser.department.id
						option.innerHTML = curUser.department.name
						$('#WorkGroupDepartment').append(option)
					$.getJSON('/users/getDept').done(function(Rdata){

						Rdata.departments.forEach(function(department, i){
							if(department.name !== curUser.department.name){
								var option = document.createElement('option')
								option.value = department.id
								option.innerHTML = department.name
								$('#WorkGroupDepartment').append(option)
							}

						})
					})
					document.getElementById('active').checked = 1
				})	

				$('#deptTab').click(function(){
					$('#deptName').val('')
					$('#status').val('Active')
					$('.error').html('')
					
					
					//- document.getElementById('active').checked = 1
				})	
				$('#userListTab').click(function(){
					location.reload()
				})	



				

				$('#horMenuList li').removeClass('active');
				$('#user').addClass('active');

				var table = document.createElement('table')
				table.id = 'user'
				table.className = 'table table-striped'
					var tr = document.createElement('tr')
					var arrayField = ['Name', 'Email', 'Title', 'Active']

					arrayField.forEach(function(field){
						
						var td = document.createElement('td')
						td.appendChild(document.createTextNode(field))
						tr.appendChild(td)
					})
					table.appendChild(tr)


					$.post('/users/userList',{
						departmentId:curUser.department.id
					}).done(function(Rdata){

						console.log(JSON.stringify(Rdata, null, 4))
						Rdata.users.forEach(function(user){
							var tr = document.createElement('tr')
								arrayField = [user.name, user.email, user.title, user.active]
								arrayField.forEach(function(field, i){

									var td = document.createElement('td')
									td.appendChild(document.createTextNode(field))

									if(i==0){
											console.log(td)
										td.addEventListener('click', function(){
											console.log(td)
											if (td.childNodes.length >2){
												td.removeChild(td.childNodes[0])
												td.removeChild(td.childNodes[1])
											}

											var span = document.createElement('span')
											
											span.style.color = 'red'
											span.className = "glyphicon glyphicon-remove-circle"
											span.id = 'delGly';
											//- click the 'x' to remove from list
											span.addEventListener('click', function(){
												$.post('/users/delUser',{userId:user.id}).done(function(pData){
													table.removeChild(tr)
												});
												
											});
											
											//- td.insertBefore(span, td.firstChild)
											var span1 = document.createElement('span')
											
											span1.style.color = 'violet'
											span1.className = "glyphicon glyphicon-edit"
											span1.id = 'editGly';
											//- click the 'x' to remove from list
											span1.addEventListener('click', function(){
													$('#editGly').remove()
												//- $.post('/users/editUserForm',{userId:user.id}).done(function(){
													//- alert(JSON.stringify(user,null,4))
													$('#userListTab').attr('class', '')
													//- $('#userFormTab').attr('class', 'active')
													$('#userList').attr('class', 'tab-pane')
													$('#userForm').attr('class', 'tab-pane fade in active')
													
													$('#name').val(user.name)
													$('#lastname').val(user.lastname)
													$('#id').val(user.id)
													$('#email').val(user.email)
													$('#username').val(user.username)
													$('#password').val('')
													$('#title').val(user.title)
													$('#passreset').attr('disabled', false)
													
													//- if(curUser.department.name ==='ADMIN' && $('#btnEditDept').length <1){
														//- var span = document.createElement('span')
														//- 	var btnEditDept = document.createElement('input')
														//- 	btnEditDept.type = 'button'
														//- 	btnEditDept.id = 'btnEditDept'
														//- 	btnEditDept.value = 'Edit'
														//- 	btnEditDept.className = 'btn btn-success'
														//- 	btnEditDept.addEventListener('click', function(){
													$.getJSON('/users/getDept').done(function(Rdata){
														$('#department').html('')
														var optionInit = document.createElement('option')
														optionInit.value = user.department.id
														optionInit.innerHTML = user.department.name
														$('#department').append(optionInit)
														Rdata.departments.forEach(function(department, i){
															if(department.name !== user.department.name){
																var option = document.createElement('option')
																option.value = department.id
																option.innerHTML = department.name
																$('#department').append(option)
															}

														})
													})
														//- 	})
														//- 	span.appendChild(btnEditDept)
														//- $('#deptInput').append(span)
													//- }

													document.getElementById('active').checked = user.active
												//- });
											});
											td.appendChild(span1)
										})
										td.addEventListener('mouseleave',function(){
											//- alert($('#delGly').length)
											if ($('#delGly').length>0){
												td.removeChild(document.getElementById('delGly'))
											}
											if ($('#editGly').length>0){
												td.removeChild(document.getElementById('editGly'))
											}
										})
									}
									tr.appendChild(td)				
								})
							table.appendChild(tr)
						})
					})
				userList.appendChild(table)
			}
		})